#SearchConditions{
    font-size:30px;
    font-family:Microsoft JhengHei;
    background-color: lightgray;
    display:none;
}
header{
    text-align: center;
}
div{
    font-size: 30px;
    font-family:Microsoft JhengHei;
}
span{
    font-size: 30px;
    font-family:Microsoft JhengHei;
}
a{
    font-size: 30px;
    font-family:Microsoft JhengHei;
}
.footer-menu{
    text-align: center;
}
