html{
    background-color:lightblue
}
footer{
	background-color:rgb(200, 220, 240);
}
h1{
   
    font-family:Microsoft JhengHei
}
.signup{
    font-size:30px;
    font-family:Microsoft JhengHei;
    background-color: lightgray;
}